! pip install requests
! pip install bs4
! pip install beautifulsoup4
! pip install seaborn
! pip install streamlit
import requests
import streamlit as st
import pandas as pd
import matplotlib.pyplot as plt
import requests
import numpy as np
import seaborn as sns
from bs4 import BeautifulSoup
from urllib.parse import urlparse
pipenv / pip